.sectionImage{
    display:flex;
    justify-content: center;
    align-items: center;
}

.sectionImage button{
    height: 50px;
    width: 50px;
    background-color: #F22E2E;
    border:none;
    border-radius: 100%;
    margin: 5px;
}

.sectionImage button:hover{
    cursor:pointer;
    background-color: #F26363;
}

.info{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 800px;
    background-color: #302d2d;
    border-radius: 45px;
    margin: 6%;
}

.info p{
    padding:15px;
}

.info img{
    border-radius: 100%;
    margin:3%
}

.links{
    width: 100%;
    display:flex;
    justify-content: space-around;

}

.links_a{
    background-color: #F22E2E;
    padding: 2.5% 16%;
    border-radius: 15px;
    text-decoration: none;
    color:black;
}
.links_a:hover{
    cursor:pointer;
    background-color: #F26363;
}

.like{
    background-color: #58a02e;
}
.like:hover{
    background-color: #4b8b25;
}

.return{
    text-align: center;
    margin: 3%;
    width: 58%;
}

@media(max-width:1170px){
    .sectionImage{
        display:flex;
        flex-direction: column;
    }
    .featuredDraw{
        width: 80%;
    }
    .info{
        width: 90%;
    }
    .info p{
        font-size: 1rem;
        padding: 15px;
    }
}