.images img{
    margin-left: 2px;
    margin-right: 2px;
}

.galeria{
    margin-bottom: 10%;
}

.galeria ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
}

.galeria li{
    background-color: #F22E2E;
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin:1%
}

.galeria li:hover{
    cursor:pointer;
}

.images img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.080);
    transition: 0.18s;
    cursor:pointer;
}

h1{
    color:#F2F2F2;
}

ul{
    display: flex;
    align-items: center;
}

@media(max-width:800px){

    .galeria ul{
        display:flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        
    }
    .galeria li{
        width: 70%;
        
    }
    .images img{
        width: 80%;
    }
    .centralizar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchIcon{
        visibility: hidden;
    }
    .searchbar{
        width: 90%;
    }
}
