.header{
display:flex;
justify-content: space-between;
align-items: center;
margin: 0%;
background-color: #302d2d;
padding: 2%;
}

.header a{
    color:#F2F2F2;
    background-color: #F22E2E;
    padding: 1.8% 5%;
    margin: 5px;
    border-radius: 10px;
}

.header a:hover{
    background-color: #F26363;
    cursor:pointer;

}

.div_buttons{
    display:flex;
    justify-content: flex-end;
width:60%;
height:30%;
}

@media (max-width: 615px){
    .div_buttons{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header{
        display: block;
        justify-content: center;
    }
    .div_buttons a{
        margin:1px;
        height: 40px;
    }
  
}