.header{
display:flex;
justify-content:end;
align-items: center;
margin: 0%;
background-color: #302d2d;
padding: 2%;
width: 96%;
}

.header a{
    color:#F2F2F2;
    padding: 1.8% 5%;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.header a:hover{
    background-color: #1d1b1b;
    cursor:pointer;

}

.div_buttons{
    display:flex;
    justify-content: flex-end;
width:60%;
height:30%;
}

@media (max-width: 615px){
    .header{
        width: 103%;
    }
    .div_buttons{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header{
        display: block;
        justify-content: center;
    }
    .div_buttons a{
        margin:1px;
        height: 40px;
    }
  
}